#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#myCarousel{
    background-color: lightcoral;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
p{
    margin-left: 15px;
    margin-top: 15px;
    color: lavenderblush;
    font-size: 25px;
}